body {
    background-color: white;
    font-family: 'Lato', sans-serif;
    margin: 0;
}

#wrapper {
    /*min-width: 440px;
    max-width: 840px;*/
    margin: 0 auto;
    background-color: #635f66;
}

header {
    height: 100px;
    background-color: #322f2f;
}

main {
    width: 100%;
    min-height: 600px;
    margin: 0 auto;
    padding: 70px 0;
}

.flexbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: flex-start;
    justify-content: center;
}

@media only screen and (min-width: 768px) {
    main {
        width: 75%;
        min-height: 600px;
        margin: 0 auto;
        padding: 70px 0;
    }
}

footer {
    background-color: #e0665a;
    height: 60px;
    padding: 10px;
    text-align: center;
    color: white;
}

#logo {
    float: left;
    color: #e0665a;
    padding: 5px 30px;;
}

#settings {
    float: right;
    height: 60px;
    width: 60px;

}

#settings button {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 5px;
    margin-left: -15px;
    margin-top: 15px;
    background-color: #e0665a;
}

#settings button:hover {
    background-color: #b93a16;
    color: white;
}

article {
    height: 150px;
    width: 100px;
    text-align: center;
    margin: 10px 20px;
}

.mode {
    /*display: inline-block;*/
}

.slidetoggle {
    width: 100%;
    height: 30px;
    background-color: lightgray;
    display: none;
    padding: 10px;
}

button {
    width: 65px;
    height: 65px;
    margin: 0 auto;
    background-color: #3c3b3e;
    color: white;
    border: 1px solid #322e2e;
    border-radius: 12px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

@media only screen and (min-width: 768px) {
    button {
        width: 80px;
        height: 80px;
        margin: 0 auto;
        background-color: #3c3b3e;
        color: white;
        border: 1px solid #322e2e;
        border-radius: 12px;
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
    }
}

button:hover {
    background-color: #b93a16;
    color: white;
}

i {
    /*padding-top: 5px;*/
}

/* Font changes */

h1 {
    font-weight: 400;
    font-family: 'Rock Salt', cursive;
    font-size: 32px;
    margin: 5px;
}

h2{
    color: white;
}

h3 {
    font-weight: 300;
    color: white;
}

/* fade to unused content*/

#calendar, #calendar + h3, #facebook, #facebook + h3{
    opacity: 0.2;
}

#settingsheading, .fa-angle-right {
    margin-left: 10px;
}

@media only screen and (max-width: 400px) {
    .phone {
        display: none;
    }
}

@media only screen and (max-width: 700px) {
    .ipad {
        display: none;
    }
}
